@model IEnumerable<TaskManagerMVP.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-default-small">Create New</a>
</p>
<table id="tickets_table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                 <a href="#" data-bs-toggle="modal"  
                    data-bs-target="#ticketDetailsModal"
                    data-bs-title=" Ticket Details"
                    data-bs-name="@item.Name"
                    data-bs-description="@item.Description" 
                    data-bs-startDate="@item.StartDate.ToShortDateString()"
                    data-bs-endDate="@item.EndDate.ToShortDateString()"
                    data-bs-isActive="@item.IsActive"
                    data-bs-project="@item.Project.Name"
                    data-bs-type="@item.TicketType.Name"
                    data-bs-status="@item.TicketStatus.Name"
                    data-bs-priority="@item.TicketPriority.Name"
                 >Details </a>|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--TICKET DETAILS MODAL-->
<div class="modal fade" id="ticketDetailsModal" tabindex="-1" aria-labelledby="ticketDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="ticketDetailsModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        Name
                    </dt>
                    <dd class="col-sm-8">
                        <span class="modal-name"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Description
                    </dt>
                    <dd class="col-sm-8">
                        <span class="modal-description"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Start Date
                    </dt>
                    <dd class="col-sm-8">
                        <span class="modal-startDate"></span>
                    </dd>
                    <dt class="col-sm-4">
                        End Date
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-endDate"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Project
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-project"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Type
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-type"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Status
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-status"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Priority
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-priority"></span>
                    </dd>
                    <dt class="col-sm-4">
                        Is Active
                        </dt>
                    <dd class="col-sm-8">
                        <span class="modal-isActive"></span>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $("#tickets_table").DataTable();
        //Ticket Details Modal
        var ticketDetailsModal = document.getElementById('ticketDetailsModal')
        ticketDetailsModal.addEventListener('show.bs.modal', function(event) {
            // Button that triggered the modal
            var button = event.relatedTarget
                // Extract info from data-bs-* attributes
            var title = button.getAttribute('data-bs-title')
            var name = button.getAttribute('data-bs-name')
            var description = button.getAttribute('data-bs-description')
            var startDate = button.getAttribute('data-bs-startDate')
            var endDate = button.getAttribute('data-bs-endDate')
            var isActive = button.getAttribute('data-bs-isActive')
            var project = button.getAttribute('data-bs-project')
            var type = button.getAttribute('data-bs-type')
            var status = button.getAttribute('data-bs-status')
            var priority = button.getAttribute('data-bs-priority')

            var modalTitle = ticketDetailsModal.querySelector('.modal-title');
            modalTitle.textContent = title;
            var modalName = ticketDetailsModal.querySelector('.modal-name');
            modalName.textContent = name;
            var modalDescription = ticketDetailsModal.querySelector('.modal-description');
            modalDescription.textContent = description;
            var modalStartDate = ticketDetailsModal.querySelector('.modal-startDate');
            modalStartDate.textContent = startDate;
            var modalEndDate = ticketDetailsModal.querySelector('.modal-endDate');
            modalEndDate.textContent = endDate;
            var modalIsActive = ticketDetailsModal.querySelector('.modal-isActive');
            modalIsActive.textContent = isActive;
            var modalProject = ticketDetailsModal.querySelector('.modal-project');
            modalProject.textContent = project;
            var modalType = ticketDetailsModal.querySelector('.modal-type');
            modalType.textContent = type;
            var modalStatus = ticketDetailsModal.querySelector('.modal-status');
            modalStatus.textContent = status;
            var modalPriority = ticketDetailsModal.querySelector('.modal-priority');
            modalPriority.textContent = priority;
            
        })


    </script>
}